/* General styling */
html{
    width: 100%;
    height: 100%;
}
body{
    font-family: "Open Sans", sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}
/* -----------------------------------------------END of general------------------------------------------------------------------------ */



/* ----------------------------------------------Header------------------------------------------------------------------------------------- */

.header{
    background: #1f2937;
    margin-top: 0;
    padding-top: 0;
    /* display: inline; */
}
.navbar{
    display: flex;
    flex-direction: row;
    height: 5rem;
}
.header .navbar p{
    color: white;
    margin-left: 1rem;
}
.links{
    display: flex;
    flex-direction: row;
    padding-left: 65%;
    list-style: none;
}
.links li{
    padding-right: 1rem;
    color: white;
}

/* -------------------------------------------------------END of Header----------------------------------------------------------------- */


.hero{
    display: flex;
    flex-direction: row;
    background: #1f2937;
}
.hero .first{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content:center;
    padding-left: 20%;
    
}
.hero .first .btn{
    background-color:rgba(59,130,246,255);
    border-radius: 7px;
    font-family: 'Open Sans';
    color: white;
    border: none;
}
.hero .second{
    width: 50%;
    display: flex;
    padding-right: 20%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.hero .second img{
    height: 250px;
    width: 30rem;
    padding-left: 15rem;
    margin-left: 7rem;
    margin-left: 0;
    padding-left: 8rem;
    padding-bottom: 1rem;
}
.hero .first h1{
    margin-bottom: 0;
    color: white;
    margin-top: 0;
}
.hero .first p{
    margin-top: 1rem;
    color: white;
    font-size: small;
}

.random{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40%;
}
.random .randomContainer{
    display: flex;
    flex-direction: row;
}
.random .randomContainer .boxes{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    height: 11rem;
    width: 10rem;
    align-items: center;
    justify-content: center;

}
.random .randomContainer .boxes .square{
    width: 6rem;
    height: 15rem;
    border: 2px solid blue;
    border-radius: 6px;
    align-items:center;
    justify-content: center;
}
.random .randomContainer .boxes  p{
    font-size: 14px;
    margin-top: 7px;
}
.quote{
    background: rgb(215, 215, 215);
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* text-wrap: wrap; */
}
.quote .testimonial{
    display: block;
    text-wrap: wrap;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
}
.quote .testimonial p{
    padding: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 1.3rem;
}

.quote .testimonial .writer{
    display: flex;
    justify-content: flex-end;
}
.white{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}
.action{
    display: flex;
    justify-content:center;
    width: 60%;
    height: 35%;
    border-radius: 4px;
    background: rgba(59,130,246,255);
}
.content{
    color: white;
    padding-right: 2rem;
    margin-top: 1rem;
}
.content h4{
    margin-bottom: 0;
}
.content p{
    margin-top: 0;
    font-size: 12px;
}
.signup{
    justify-self: end;
    margin-left: 4rem;
}
.signup button{
    font-family: 'Open Sans';
    background: rgba(59,130,246,255);
    color: white;
    border-radius: 3px;
    border: 2px solid white;
    margin-top: 2.5rem;
}
.footer{
    background: #1f2937;
    display: flex;
    justify-content: center;
    color: white;
}
